$bg-body: #374550;
$fg-color: #f5f8fb;
$red: #ff4040;

body
{
	background-color: $bg-body;
	color: $fg-color;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

.content
{
	margin: 0 auto;
    width: 450px;
    border: 1px solid $fg-color;
    padding: 20px;
	margin-top:60px;
	display:table;
}

.content div { width:100%; }

h1
{
	margin-top: -40px;
    background-color: $bg-body;
    padding: 0 10px;
}

.spacer-top { margin-top:10px; }
input, textarea 
{
	background-color:#69737c;
	border:1px solid $fg-color;
}
input[type="text"], input[type="email"], textarea
{	
	width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color:$fg-color;
}
input[type="button"]
{
	font-weight:bold;
	border:2px solid $fg-color;
	color:$fg-color;
	padding:5px;
	background-color:transparent;
	cursor:pointer;
}

a#restart
{
	cursor:pointer;
	text-decoration:underline;
	margin-left:20px;
	font-size:14px; 
}

.colon:after
{
	content:':';
}

.left{ float:left; }
.clear { clear:left; }

/* Form validation */
.hide { display:none; }
.red { color:$red; }
input[type="text"].required
{
	border:1px solid $red;
}